
@font-face {
    font-family: 'Amiri Quran';
    src: url('./fonts/AmiriQuran-Regular.ttf') format('truetype');
}

body {
    font-family: 'Amiri Quran', 'Tajawal', sans-serif;
    background-color: #FDFBF7;
    font-feature-settings: "calt", "liga";
    direction: rtl;
    unicode-bidi: embed;
}

p, h1, h2, h3 {
    font-family: 'Amiri Quran', 'Tajawal', sans-serif;
}
